.model a {
    text-decoration: none;
    color: rgb(85, 1, 15);
    font-style: unset;
}

.model a:hover {
    color: rgb(255, 86, 114);
}

/* current iPhone */

.gadget-container {
    background-color: rgba(184, 184, 184,0.2);
    border: 1px solid rgb(246, 81, 108);
    height: auto;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
}

.gadget-title {
    font-size: 35px;
    text-transform: uppercase;
}

.gadget-title img {
    text-align: left !important;
}

hr {
    background-color: rgb(255, 86, 114);
    margin-top: 0 !important;
    margin-bottom: 8px !important;
}

.gadget-available {
    font-size: 16px;
    color: rgb(37, 165, 80);
}

.gadget-rating {
    font-size: 16px;
    color: rgb(236, 190, 38);
}

.gadget-rating span {
    font-weight: bold;
}

.gadget-rating img {
    width: 18px;
    height: 18px;
    margin-bottom: 3px;
}

.gadget-available img {
    width: 15px;
    height: 15px;
    margin-bottom: 3px;
}

.gadget-price {
    font-size: 20px;
}

.gadget-delivery-options {
    font-size: 18px;
}
.gadget-delivery-options a {
    color: rgb(133, 81, 89);
}

.gadget-delivery-options a:hover {
    color: rgb(246, 81, 108);
    cursor: pointer;
    text-decoration: none;
} 

.gadget-img img {
    border: 1px solid rgb(246, 81, 108);
    width: 280px;
    height: 300px;
    margin-top: 5px;
}

.gadget-description  {
    font-size: 16px;
    margin-top: 5px
}

.gadget-description span {
    font-size: 18px;
    font-weight: bold;
}

  .gadget-show-more {
    margin: 5px 0 10px 0;
  }

  .gadget-show-more span {
    background-color: rgb(246, 81, 108);
    padding: 2px 5px 2px 5px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 8px;
    font-style: italic;
    cursor: pointer;
  }

  .gadget-show-more span:hover{
    background-color: rgb(238, 69, 69);
    transition: 0.3s;
  }

  .gadget-hide-info{
      display: none;
  }

  .gadget-hide-info-show {
      display: block;
  }

  .container-feedback {
      font-size: 20px;
  }

  .container-feedback span:hover {
      color: rgb(246, 81, 108);
      cursor: pointer;
  }

  .container-feedback img {
      width: 40px;
      height: 40px;
  }

  .showOpen {
      display: block;
  }

  .closeOpen {
      display: none;
  }

  /* comment's part */

  .text-but-container {
      position: relative;
  }

  textarea {
    width: 50%;
    padding: 0 20px;
    margin-top: 10px !important;
    background: rgb(255, 255, 255);
    line-height: 40px;
    border-width: 1;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
  }

  .add {
      margin-left: 4px !important;
      text-transform: uppercase;
      position: absolute;
      bottom: 6px;
  }

  .add:hover {
      background-color: rgb(238, 69, 69);
      transition: 0.3s;
  }

  .comments-container .name-img{
      width: 30px;
      height: 30px;
      margin-bottom: 2px;
  }

  .comments-container .comment-container .name span img{
    width: 28px;
    height: 28px;
    margin-left: 4px;
}

.name {
    font-size: 22px;
}

.like img, .dislike img {
    width: 28px;
    height: 28px;
    margin-left: 10px;
}

.text {
    margin: 0 0 30px 10px;
    font-size: 22px;
    font-style: italic;
}

/* date */
.date {
    font-size: 14px !important;
    margin-left: 20px;
}

.date:hover {
    color: rgb(0, 0, 0) !important;
}

 
 