footer {
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

.made {
    color: rgb(0, 0, 0);
    font-style: italic;
}

.made span {
    color: rgb(246, 81, 108);
}

.footer-hr {
    width: 25%;
}

.react {
    color: rgb(33, 165, 226) !important;
}

.redux {
    color: rgb(159, 14, 226) !important;
}